html{
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, a, p{
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    background-color: hsl(218, 28%, 13%);
    -webkit-font-smoothing: antialiased;
}

header{
    max-width: 1440px;
    display: flex;
    flex: 1;
    align-items: center;
    margin-top: 24px;
    margin-left: 24px;
    justify-content: space-between;
}

header .header-group{
    display: flex;
    list-style: none;
    cursor: pointer;
}

header .header-group a{
    padding: 8px;
    font-weight: 700;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    margin: 0 auto;
}

main h1{
    text-align: center;
    padding: 0 30px;
}

main p{
    margin-top: 0;
    padding: 0 60px;
    text-align: center;
}

main button{
    margin-top: 12px;
    background-color: hsl(198, 60%, 50%);
    border: none;
    width: 180px;
    height: 40px;
    border-radius: 32px;
    font-weight: 700;
    font-size: 14px;
    color: white;
    cursor: pointer;
    transition: background-color 400ms;
}

main button:hover{
    background-color: hsl(198, 60%, 65%);
}

main .info-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    gap: 20px
}

main .info-list li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .stay-productive{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}

main .stay-productive img{
    width: 450px;
    height: 350px;
}

main .stay-productive .stay-productive-text p
{
    padding: 0 20px;
    text-align: left;
}

main .stay-productive .stay-productive-text a{
    display: flex;
    padding: 0 20px;
    text-align: left;
    align-items: center;
    text-decoration: underline;
    color: hsl(176, 68%, 64%);
}

main .stay-productive .stay-productive-text a span{
    background-image: url('/assets/icon-arrow.svg');
    display: flex;
    
    width: 16.2px;
    height: 16.2px;

    margin-left: 2px;
}

main .comments-grid{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

main .comments-grid li{
    background-color: hsl(219, 30%, 18%);
    padding: 15px;
    margin-top: 50px;
    border-radius: 6px;
    box-shadow: 8px 5px 5px hsl(216, 53%, 9%);
}

main .comments-grid li p{
    display: flex;
    text-align: left;
    padding: 0;
    font-size: 14px;
}

main .comments-grid li .profile{
    display: flex;
    flex: 1;
    align-items: center;
}

main .comments-grid li .profile img{
    width:50px;
    height: 50px;
    border-radius: 30px;
}

main .comments-grid li .profile .profile-text{
    margin-left: 12px;
}

main .comments-grid li .profile .profile-text h3{
    margin: 0;
    text-align: left;
}

main .comments-grid li .profile .profile-text p{
    font-size: 10px;
    margin: 0;
    text-align: left;
}