html{
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, a, p{
    color: white;
}

a{
    text-decoration: none;
}

body{
    background-color: hsl(218, 28%, 13%);
    -webkit-font-smoothing: antialiased;
}

header{
    max-width: 1440px;
    display: flex;
    flex: 1;
    align-items: center;
    margin-top: 24px;
    margin-left: 24px;
    justify-content: space-between;
}

header .header-group{
    display: flex;
    list-style: none;
    cursor: pointer;
}

header .header-group a{
    padding: 8px;
    font-weight: 700;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

main h1{
    text-align: center;
    padding: 0 30px;
}

main p{
    margin-top: 0;
    padding: 0 60px;
    text-align: center;
}

main button{
    background-color: hsl(198, 60%, 50%);
    border: none;
    width: 180px;
    height: 40px;
    border-radius: 32px;
    font-weight: 700;
    font-size: 14px;
    color: white;
    cursor: pointer;
    transition: background-color 400ms;
}

main button:hover{
    background-color: hsl(198, 60%, 65%);
}

